# setup files specific to each machine
gen.inf

# personal config files
*.cfg
!example.cfg

# pycharm files
.idea/

# synthetic datasets directory
/SyntheticData/datasets/

#
/SyntheticData/stls/

# any pycache directories
__pycache__/